groq==1.2.0
PyMuPDF==1.24.14
sentence-transformers==2.3.1
Flask==3.0.0
Flask-Cors==4.0.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.5
python-dotenv==1.0.0
openai
paddleocr==2.7.3
paddlepaddle==2.6.2
boto3==1.34.0
pymysql==1.2.0
qdrant-client==1.9.0
numpy==1.26.4
chromadb==0.4.22
rank-bm25==0.2.2
